<!DOCTYPE html>
<html>
   <head>
      {% load static %}
      <head>
         <title>All Courses</title>
         <link rel="stylesheet" type="text/css" href="{% static 'courses/default.css' %}">
         <style type="text/css">
            body {
               text-align: left;
            }
         </style>
   </head>
   <body>
      {% if all_course_list %}
         <h2>All Courses</h2>
         <ul>
            {% for course in all_course_list %}
               <li>{{ course.course_id }}: {{ course.course_name }}</li>
            {% endfor %}
         </ul>
      {% else %}
         <p>No courses found.</p>
      {% endif %}
   </body>
</html>